In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
data = pd.read_csv('../promoter_regions/promoter_regions.tsv', sep='\t', header = None)
data

,0,1,2,3,4,5,6,7,8,9,...,798,799,800,801,802,803,804,805,806,807
0,chr1,10675,10876,1,0,0,0,0,0,1,...,0,0,1,0,0,1,0,0,0,0.001680
1,chr1,10700,10901,0,0,1,0,0,1,0,...,0,1,0,0,0,0,0,1,0,0.001680
2,chr1,10725,10926,0,0,1,0,0,1,0,...,0,0,0,1,0,0,1,0,0,0.001680
3,chr1,10750,10951,0,1,0,0,0,1,0,...,0,1,0,0,0,0,1,0,0,0.001680
4,chr1,10775,10976,0,1,0,0,0,0,1,...,0,0,0,1,0,1,0,0,0,0.001680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155349,chr1,248906125,248906326,1,0,0,0,0,0,1,...,1,0,1,0,0,0,1,0,0,16.291443
155350,chr1,248906150,248906351,0,1,0,0,0,0,1,...,0,0,0,0,1,0,1,0,0,16.723313
155351,chr1,248906175,248906376,0,0,1,0,0,1,0,...,0,0,0,1,0,0,1,0,0,17.154714
155352,chr1,248906200,248906401,1,0,0,0,0,0,1,...,1,0,0,1,0,0,0,1,0,17.429343
155353,chr1,248906225,248906426,0,0,0,1,0,1,0,...,0,0,0,1,0,0,0,1,0,17.835560

In [5]:
data_rm = data.iloc[:,-1:]

In [38]:
new_df = pd.concat([data.iloc[:,0:3],data.iloc[:,-1:]],axis = 1)

In [39]:
new_df.reset_index(drop=True, inplace=True)

In [40]:
new_df

         0          1          2          807
0       chr1      10675      10876   0.001680
1       chr1      10700      10901   0.001680
2       chr1      10725      10926   0.001680
3       chr1      10750      10951   0.001680
4       chr1      10775      10976   0.001680
...      ...        ...        ...        ...
155349  chr1  248906125  248906326  16.291443
155350  chr1  248906150  248906351  16.723313
155351  chr1  248906175  248906376  17.154714
155352  chr1  248906200  248906401  17.429343
155353  chr1  248906225  248906426  17.835560

[155354 rows x 4 columns]

In [41]:
new_df = new_df.rename(columns = {0: "chr"})

In [42]:
new_df

         chr          1          2        807
0       chr1      10675      10876   0.001680
1       chr1      10700      10901   0.001680
2       chr1      10725      10926   0.001680
3       chr1      10750      10951   0.001680
4       chr1      10775      10976   0.001680
...      ...        ...        ...        ...
155349  chr1  248906125  248906326  16.291443
155350  chr1  248906150  248906351  16.723313
155351  chr1  248906175  248906376  17.154714
155352  chr1  248906200  248906401  17.429343
155353  chr1  248906225  248906426  17.835560

[155354 rows x 4 columns]

In [44]:
import csv
new_df.chr = new_df.chr.astype(str)
new_df.to_csv('test.txt', index=False, quotechar='"',
                      header=None, quoting=csv.QUOTE_NONNUMERIC)

In [48]:
check = pd.read_csv("chr1.bed")

In [ ]:
check